# REQUIRED PARAMETERS

# inventario server login details, to retrieve school/laptop info
user = "xxx"
pass = "xxx"
site = "http://localhost:3000/"

# Path to pre-prepared bios-crypto installation
bios_crypto_path = "/home/foo/bios-crypto"

# Path to public/private keys. If the files are at /foo/lease.{private,public}
# then just specify /foo/lease here (i.e. drop the extension).
signing_key_path = "/home/foo/keys/lease"


# OPTIONAL PARAMETERS

# Where to store the output JSON lease files
# Defaults to "/var/lib/xo-activations"
#leases_dir = "/var/lib/xo-activations"

# Number of seconds before existing generated leases are considered stale
# (and hence should be re-generated). Default 604800 (1 week).
#stale_lease_threshold = 604800
